.header {
  margin: 45px auto 0 auto;
  padding: 0;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  min-height: 74px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 638px) {
  .header {
    margin: 28px auto 0 auto;
    min-height: 56px;
  }
}