.popup__submit-btn {
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  margin: 0 auto 37px auto;
  padding: 0;
  border: none;
  border-style: solid;
  cursor: pointer;
  transition: opacity 0.6s;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.popup__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 638px) {

  .popup__submit-btn {
    width: 238px;
    height: 46px;
    margin: 0 auto 25px auto;
    font-size: 14px;
    line-height: 17px;
  }

}