.authentication__form-submit-btn {
  width: 358px;
  height: 50px;
  background: #ffffff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 216px auto 112px auto;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 638px) {
  .authentication__form-submit-btn {
    width: 300px;
  }

}