.profile__info {
  color: #FFFFFF;
  max-width: 336px;
  display: grid;
  gap: 16px 18px;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
}

@media screen and (max-width: 750px) {

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    gap: 6px 10px;
  }

}